.admin-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 25px;
    padding: 30px 0;
}

.admin-card {
    background: var(--white);
    padding: 40px 30px;
    border-radius: var(--radius-lg);
    text-align: center;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    box-shadow: var(--shadow-soft);
}

.admin-card:hover {
    transform: translateY(-10px);
    border: 1px solid var(--primary-color);
    box-shadow: 0 15px 35px rgba(155, 17, 30, 0.15); /* Sombra con un toque del color corporativo */
}

.card-icon-wrapper svg {
    width: 40px; /* Asegúrate de que tengan un tamaño uniforme */
    height: 40px;
    margin-bottom: 20px;
}
@media (max-width: 480px) {
    .admin-cards {
        /* Cambiamos el mínimo de 250px a 140px para que puedan entrar 2 tarjetas por fila si es necesario */
        grid-template-columns: repeat(auto-fill, minmax(140px, 1fr)); 
        gap: 15px;
        padding: 15px 5px;
    }

    .admin-card {
        padding: 20px 10px; /* Menos espacio interno */
    }

    .admin-card h3 {
        font-size: 1rem; /* Títulos más pequeños */
    }
}